*.class
target
logs
pids

*.war
*.ear
*.pyc
*.ipr
*.iws
*.iml
**/*.iml
.idea
*.swp

.DS_Store
**/*.DS_Store

**/target/*
target

src/universal/test/testapps/basicdropwizardapp/bin/

lib_managed/*
**/lib_managed/*
*.classpath
*.project
**/*.settings
.project
.settings
.classpath
.sass-cache

.ensime*

**/codekit-config.json
nohup.out

results.xml

build/
dist/
servicemanager.egg-info/
